<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ObservingDirectoryPath" value="C:\\Users\\ilona\\source\\repos\\courses NET\\Task 4"/>
    <add key="DirectoryWithReadingPath" value="C:\\Users\\ilona\\source\\repos\\courses NET\\Task 4"/>
  </appSettings>
</configuration>