<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- name = Имя, которое используется для ссылки на данный раздел в файле настройки.
               type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика данных
               + имя самого обработчика, наименование сборки, где данный класс располагается.-->
      <section name="StartupFiles" type="PresentationLayer.Configuration.Section, PresentationLayer" />
  </configSections>
  <StartupFiles>
    <Files>
      <add fileType="ConcordanceFile" filePath="Concordance.txt" />
      <add fileType="InitialTextFile" filePath="text.txt" />
    </Files>
  </StartupFiles>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>